body {
    background-color: aqua;
}

h1 {
    color: maroon;
}

button {
    background-color:pink;
    border: 2px solid #4CAF50;
    border-radius: 12px;;
}

button:hover {
    background-color: green; /* Green */
    color: white;
    border-radius: 12px;
}
  