fieldset {
  border: none;
  margin: 1rem 0;
}


header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
  background-color:mistyrose;
}

header img {
  height: 64px;
  margin-right: 1em;
}

main {
  display: flex;
  justify-content: space-between;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: mistyrose;
  align-items: center;

}

aside {
  margin-left: 2em;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
  background-color: mistyrose;
}