body{
    margin:0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3580de;
    
  }
  
  .header .logo {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif, cursive;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
  }

.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3580de;
    margin-right: 20px;
    font-family:'Quicksand', sans-serif;
}

.nav-items a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
    color: #fff;
}



.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://static.vecteezy.com/system/resources/thumbnails/001/227/748/small/abstract-modern-technology-pattern-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.intro h1{
    font-family:'Quicksand', sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 0;
}

.intro p {
    font-size: 20px;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 20px 0px;
    font-family:'Quicksand', sans-serif;
}

.intro button {
    background-color:#5edaf0;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255,  255, 255, 0.4)
}

.experiences {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 140px;
    flex-direction: column;
}

.experiences .work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.experiences .work i{
    width: fit-content;
    font-size: 30px;
    color: #333333;
    border-radius: 50%;
    border: 2px solid #333333;
    padding: 12px;
}

.experiences .work .work-heading {
    font-size: 40px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
    font-family:'Quicksand', sans-serif;
}

.experiences .work .work-text {
    font-size: 30px;
    color: #585858;
    margin: 0px 0; 
    font-family:'Quicksand', sans-serif;
}

.experiences .work li {
    font-size: 30px;
    color: #585858;
    justify-content: center;
    margin: 0px 0; 
    list-style-type: none;
    font-family:'Quicksand', sans-serif;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
    background-color: #dcf2fc;
    font-family:'Quicksand', sans-serif;
    
    
}

.about-me img{
    width: 400px;
    max-width: 100%;
    height: 400px;
    border-radius: 50%;
    border-color: #3580de;
}

.about-me-text h2{
    font-size: 50px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    align-items: left;
    font-family:'Quicksand', sans-serif;
}


.about-me-text p{
    font-size: 20px;
    color: #585858;
    margin: 4%;
    /* align-items: left; */
    font-family:'Quicksand', sans-serif;
    text-align: left;
   
}


.footer{
    display: flex;
    align-items: left;
    background-color: #3580de;
    padding: 40px 80px;
}

.footer .copy{
    color: #333333;
    font-family:'Quicksand', sans-serif;
}

form{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Quicksand', sans-serif;
    
}

#contactMe{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}


input[type=text] {
    border: 2px solid lightblue;
    border-radius: 4px;
  }

textarea {
    border: 2px solid lightblue;
    border-radius: 4px;
  }

textarea:focus {
    background-color: 2px solid rgb(77, 130, 230);
  }
  

input[type=submit] {
    width: 25%;
    background-color: #3d548e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }




@media (max-width: 390px){
    .nav-items {
        flex-direction: column;
        font-size: small;
        
}

    .nav-items a{
        padding-bottom: 8px;
        padding-top: 8px;
        padding-left: 10px;
        padding-right: 8px;
}

    .logo{
        display: none;
    }

    .intro {
        text-align: center;
    }  
    
    .about-me{
        flex-direction: column;
        width: 100%;
        
    }

    .about-me-text p{
        margin: 2%;
        flex-direction: column;
        width: 100%;
        /* align-items: left; */
       
    }

    .about-me img {
        width: 146px;
        height: 204px;
    }

    .about-me-text {
        width: 100%;
        padding: none;
        margin: none;
    }

    .experiences {
        flex-direction: column;
    }

    }

    .experiences .work{
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    

 /* @media (max-width: 500px){
        .intro h1{
            color: white;
            font-size: 30px;
            font-weight: bold;
        
        }
    } */